.fox {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
  color: red;
}
.para {
  text-align: left;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  color: yellow;
}
.lists {
  text-align: left;
  font-size: 20px;
  font-style: bold;
  font-weight: 200;
  color: violet;
}
.car{
  background-image:url('https://lh3.googleusercontent.com/b3_JAE6wXWZnK-Oj3eZkIMgZJDaZOlTCmtPmxyVVBH8kFCEyNq-u8Sw52CmhQYn7zSht1D5jJ1DYDcw_Kh7oiLd2hzZlSUepUTp0HH6jqUf1t5ny5L2X86dwUzVNp9vpWxTEc8OwPWnTJoVR5OSh29S4_TRlWhCnurgG_8j1Nejg021zWmiTw6lBgN9GEBSzY0XrtfVt6S6bNb0RwSV1ojDUgW2ex8wznNF08ztPhcy5fhlQ30Td4xzq2HqmWNVSed1sQk2wk3PLX0zk8CHxhBzCI51GA0HD8ZkOH75qCs3YUPjFTwbb4fWJvlHE_jp42AbHG7kwR0Z3X3tqL9jmb2nLQ-MAzhmuXI1JC--R7RS97FWqFNcEtBbDuU9tyRkNAgfZFrAAFtTRWpNcem5Ihzk6Lk0mbscC3f2mGsOQ1ZKwlG4wLnQyWdWVzQO7ZrJfO7nRwtJVki1hzoFOhshcJ6HrL9s2rP7mqWGrACbYMUlA7n90ta_Ol-eZ4xjfh3pB7btWhRjTsHN5ZnVBzYIg5VIe0HOHG__wG3rsJH9yXDHT9D_tZvn6sEDxEzELuQRg4c9lYZEHVo_fo2QDUZ9u78flO8z3qmzz8YsYmWnsW_XHZ7EI3wlSXKTpuxPfXZTemK4KCm5ekAUXKenp9211U857i1r7yWHfru25LrPU8iV-UvICM9MTe6Uuf_ciwk5fyocZ7RzGGn627CJ7vUIg7b4=w587-h491-no?authuser=0');
  background-size:cover;
  padding:25px;
 
}
.button{
    text-align:center; 
}
.but{
  border-radius:25px;
  width:100px;
  height:40px;
  background-color:#ab1b3d;
}
.im{
  text-align:center;
  margin:25px;
  border-radius:25px;
}
  